.login_div1, .login_div2 {
    background-color: azure;
    border-radius: 5px;
    float: none;
}

input {
    width: 50%;

}

body {
    background-image: url("malta.jpg");
    background-position: center;
    background-size: cover;
}